/*  FONT IMPORTS  */
@font-face {
  font-family: "Alegreya Sans";
  src: url(../fonts/AlegreyaSans-Regular.otf);
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: url(../fonts/AlegreyaSansSC-Medium.otf);
}

/*  GENERAL STYLES  */

body {
  font-family: "Alegreya Sans", "Roboto", "Open Sans", sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-family: "Alegreya Sans SC";
  position: absolute;
  margin: auto;
  top: 45%;
  left: 0;
  right: 0;

  text-align: center;
  font-size: 3.0rem;
  font-weight: 800;
}

h2 {
  font-family: "Alegreya Sans SC";
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
}

h5 {
  font-size: 1.1em;
}

.white-outlined-test {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/*  NAV STYLES  */

.navigation {
  position: absolute;
  bottom: 0px;
  z-index: 4;
  width: 100%;
  background-color: rgba(3, 13, 24, 0.96);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.navigation nav, .navigation ul, .navigation li, .navigation a {
  height: 100%;
}

.navigation ul {
  position: static;
  text-align: center;
  background-color: transparent;
}

.navigation li {
  display: inline-block;
  margin-left: -4px;
}

.navigation li a {
  color: rgba(240, 238, 225, 0.3);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  text-align: center;
  display: block;
  padding: 3.7rem 2.5rem 1rem 2.5rem;
  border-bottom: none;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
}

.navigation li a.active {
  color: #f0eee1;
}


/* refactor px */
.navigation li img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 12px auto 0 auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navigation li a:hover, .navigation li a:focus {
  color: #f0eee1;
  text-decoration: none;
}


/*  After Scroll  */

.become-header {
  position: fixed;
  top: 0;
  height: 70px;
}

.become-header img {
  display: none;
}

.become-header li a {
  padding: 26px 30px 26px 30px;
}

/*  SECTION STYLES  */

section {
  min-height: 100vh;
  padding: 7em 0.4em;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  SECTION-SPECIFIC STYLES  */

#head {
  background-image: url(../images/backgrounds/goldengate2.png);
}

#about {
  background-color: #0858EE;
}

#projects {
  background-color: #EE3A1C;
}

#skills {
  background-color: #0858EE;
}

#experience {
  background-color: #EE3A1C;
}

#contact {
  background-image: url(../images/backgrounds/sunset2.png);
}

/*  ABOUT ME STYLING  */

#about p {
  font-size: 1.35em;
  margin-bottom: 1em;
}

#about img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto 2em auto;
  border-radius: 100px;
}

/*  PROJECT STACK STYLING  */

#projects-container {
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
  position: relative;
  height: 450px;
}

.no-scroll-wrapper {
  position: absolute;
  top: 0;
  bottom: -15px;
  left: 0;
  right: 0;
  overflow: auto;
}

ul.project-wrapper-list {
  width: 3800px;
}

li.project-wrapper {
  display: inline-block;
  height: 465px;
  width: 750px;
}

.project {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.project .project-overlay-image {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: top 1s ease;
}

.project:hover .project-more-button {
  opacity: 0.9;
}

.project:hover .project-overlay {
  background: rgba(0,0,0,0.8);
}

.project-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  -webkit-transition: background-color .25s, top 1s ease;
  -moz-transition: background-color .25s, top 1s ease;
  -o-transition: background-color .25s, top 1s ease;
  transition: background-color .25s, top 1s ease;
  border-radius: 2px;
  z-index: 3;
  top: 0px; /* need to explicitly set top for transition */
  padding-top: 25%;
}

.project-overlay h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.project-overlay p {
  font-size: 1.4rem;
}

.project-overlay em {
  font-size: 1.1rem;
}

.project-more-button {
  border: 1px solid rgba(255,255,255,.6);
  font-size: 1.1rem;
  width: 140px;
  margin: 10px auto 0 auto;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.project-details {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  padding: 20px;
}

.project-details p {
  font-size: 1.1em;
  margin-bottom: 0.9em;
}

.project-detail-left {
  display: inline-block;
  width: 49%;
  margin-right: 1%;
}

.project-details figure {
  display: table;
  text-align: center;
}

.project-details figcaption {
  display: table-caption;
  caption-side: bottom;
}

.project-details .project-detail-left-image {
  width: 100%;
}

.project-details .project-detail-tech li {
  margin: 3px;
  padding: 3px;
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #4c3333;
}

.project-details .project-details-footer {
  max-height: 250px;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.project-detail-right {
  margin-left: 1%;
  width: 49%;
  display: inline-block;
}

/* lol */
.project-detail-tech.skills-display {
  width: 49%;
  display: inline-block;
}

.project-detail-whole {
  width: 100%;
}

/*  SKILLS DISPLAY  */

.skills-display {
  width: 80%;
  margin: 0 auto;
}

.skills-display li {
  margin: 0.8em;
  padding: 7px;
  display: inline-block;
  width: 150px; /* set % for consistency */
  height: 150px;
  overflow: hidden;
  background-color: #4c3333;
}

.skills-display li div {
  background-color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.skills-display img {
  width: 100%;
}

/*  XP DISPLAY  */

#experience {

}

.an-experience {
  width: 60%;
  margin: 2em auto;
}

.an-experience:after {
  clear: both;
  display: block;
  content: "";
}

.an-experience img {
  border: 7px solid #4c3333;
  height: 10em;
  width: 10em;
  display: block;
  float: left;
  margin-right: 1em;
}

.an-experience .xp-description {
  float: left;
  width: 75%;
  margin-top: 0.7em;
}

.an-experience h5 {
  margin-bottom: 0.3em;
}

.an-experience p {
  font-size: 0.9em;
}

/*  CONTACT STYLES  */
#contact img {
  height: 5em;
  width: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.centered {
  width: 60%;
  margin: 5em auto;
  text-align: center;
}





