/*  FONT IMPORTS  */
@font-face {
  font-family: "Aller";
  src: url(fonts/Aller_Rg.ttf);
}

@font-face {
  font-family: "Aller Light";
  src: url(fonts/Aller_Lt.ttf);
}

/*  GENERAL STYLES  */

body {
  font-family: "Lato", "Roboto", "Open Sans", sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

p a {
  text-decoration: underline;
}

h3 a {
  text-decoration: underline;
}

h5 a {
  text-decoration: underline;
}

p {
  font-weight: 300;
}

h1 {
  font-family: "Aller";
  text-align: center;
  font-size: 3.0rem;
  font-weight: 800;
  margin-bottom: 0.5em;
}

h2 {
  font-family: "Aller";
  text-align: center;
  font-size: 2.4em;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
}

h5 {
  font-size: 1.1em;
}

@media screen and (min-width: 501px) {
  .mobile-show {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
    padding: 0 1em;
  }

  .mobile-show a {
    text-decoration: underline;
  }
}

.white-outlined-test {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.vertical-center {
  display: flex;
}

.vertical-center > div {
  margin: auto;
}

/*  NAV STYLES  */

.navigation {
  font-family: "Aller";
  position: relative;
  z-index: 4;
  background-color: rgba(3, 13, 24, 0.96);
}

.navigation ul {
  position: fixed;
  right: 5%;
  bottom: 20px;
  background-color: rgba(3, 13, 24, 0.96);
  border-radius: 0.25em;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
  width: 85%;
}

.navigation ul.is-visible {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

.navigation li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #092645;
}

.navigation li:last-child a {
  border-bottom: none;
}

.navigation li a:hover, .navigation li a:focus {
  color: #f0eee1;
  text-decoration: none;
}

.navigation li img {
  display: none;
}

.navigation-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  z-index: 5;
  border-radius: 0.25em;
  background-color: rgba(3, 13, 24, 0.96);
}

.navigation-trigger img {
  padding: 6px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1170px) {
  .navigation {
    position: absolute;
    bottom: 0px;
    width: 100%;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }

  .navigation-trigger {
    display: none;
  }

  .navigation nav, .navigation ul, .navigation li, .navigation a {
    height: 100%;
  }

  .navigation ul {
    position: static;
    text-align: center;
    background-color: transparent;
    transform: scale(1);
    width: 100%;
  }

  .navigation li {
    display: inline-block;
    margin-left: -4px;
  }

  .navigation li a {
    color: rgba(240, 238, 225, 0.3);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    text-align: center;
    display: block;
    padding: 3.7rem 2.5rem 1rem 2.5rem;
    border-bottom: none;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navigation li a.active {
    color: #f0eee1;
  }

  .navigation li img {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 12px auto 0 auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  /*  After Scroll  */
  .navigation.become-header {
    position: fixed;
    top: 0;
    height: 70px;
  }

  .navigation.become-header img {
    display: none;
  }

  .navigation.become-header li a {
    padding: 26px 30px 26px 30px;
  }
}



/*  SECTION STYLES  */

section {
  min-height: 100vh;
  padding: 7em 0.4em;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section > div {
  max-width: 1000px;
}

@media screen and (max-width: 500px) {
  section {
    padding: 2em 0.2em;
  }
}

/*  SECTION-SPECIFIC STYLES  */

#head {
  background-image: url(../images/backgrounds/goldengate3.png);
}

#about {
  background-color: #456B74;
  padding: 5em 0.4em;
}

#projects {
  background-color: #212121;
}

#skills {
  /*background-color: #C8C8C8;*/
  background-color: #484848;
}

#experience {
  background-color: #883a3a;
}

#contact {
  background-image: url(../images/backgrounds/sunset2.png);
  position: relative;
}

/*  ABOUT ME STYLING  */

#about p {
  font-size: 1.35em;
  margin-bottom: 1em;
}


#about img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto 2em auto;
  border-radius: 100px;
}

#about hr {
  /*margin: 7em 0;*/ /* @media big? */
  margin: 2em 0;
}

@media screen and (max-width: 500px) {
  #about {
    padding: 2em 0.2em;
  }

  #about p {
    font-size: 1em;
  }

}

/*  PROJECT STACK STYLING  */

#projects-container {
  width: 750px;
  overflow: hidden;
  position: relative;
}

#projects-container  h2 {
  margin-bottom: 1em;
}

ul.project-wrapper-list {
  left: 0;
  position: relative;
  width: 5300px; /* + 750 / project */
  transition: left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-bottom: 3em;
}

ul.project-wrapper-list::-webkit-scrollbar {
  display: none;
}


li.project-wrapper {
  display: inline-block;
  height: 465px;
  width: 750px;
}

.project {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.project .project-overlay-image {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: top 1s ease;
}

.project:hover .project-more-button {
  opacity: 0.9;
}

.project:hover .project-overlay {
  background: rgba(0,0,0,0.8);
}

.project-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  -webkit-transition: background-color .25s, top 1s ease;
  -moz-transition: background-color .25s, top 1s ease;
  -o-transition: background-color .25s, top 1s ease;
  transition: background-color .25s, top 1s ease;
  border-radius: 2px;
  z-index: 3;
  top: 0px; /* need to explicitly set top for transition */
  padding-top: 25%;
}

.project-overlay h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.project-overlay p {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.project-overlay em {
  font-size: 1.1rem;
}

.project-more-button {
  border: 1px solid rgba(255,255,255,.6);
  font-size: 1.1rem;
  width: 140px;
  margin: 25px auto 0 auto;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.project-details {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  padding: 20px;
}

.project-details p {
  font-size: 1.1em;
  margin-bottom: 0.9em;
}

.project-detail-left {
  display: inline-block;
  width: 49%;
  margin-right: 1%;
  vertical-align: middle;
}

.project-details figure {
  display: table;
  text-align: center;
}

.project-details figcaption {
  display: table-caption;
  caption-side: bottom;
}

.project-details .project-detail-left-image {
  width: 100%;
}

.project-details .project-detail-tech li {
  margin: 3px;
  padding: 3px;
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #4c3333;
}

.project-details .project-details-footer {
  max-height: 250px;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.project-detail-right {
  margin-left: 1%;
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

/* lol */
.project-detail-tech.skills-display {
  width: 49%;
  display: inline-block;
}

.project-detail-whole {
  width: 100% !important;
}

.project-arrow {
  position: relative;
  width: 62px;
  height: 62px;
  padding: 15px;
  border-radius: 40px;
  background-color: white;
  transition: width 0.3s, background-color: 0.3s;
  overflow: hidden;
}

.project-arrow svg {
  fill: #34495e;
}

/*  SKILLS DISPLAY  */

#skills h2.second {
  margin-top: 1.2em;
}

.skills-display {
  width: 100%;
  margin: 0 auto;
}

#skills .skills-display {
  text-align: center;
}

.skills-display li {
  margin: 0.8em;
  padding: 7px;
  display: inline-block;
  width: 150px; /* set % for consistency */
  height: 150px;
  overflow: hidden;
  background-color: #4c3333;
}

@media screen and (max-width: 350px) {
  .skills-display li {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 400px) {
  .skills-display li {
    margin: 0.4em;
  }

}

.skills-display li div {
  background-color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.skills-display img {
  width: 100%;
}

/*  XP DISPLAY  */

#experience {

}

.an-experience {
  text-align: left;
  margin: 2em auto;
}

.an-experience:after {
  clear: both;
  display: block;
  content: "";
}

.an-experience img {
  border: 7px solid #4c3333;
  height: 10em;
  width: 10em;
  display: block;
  float: left;
  margin-right: 1em;
}

.an-experience .xp-description {
  float: left;
  width: 75%;
  margin-top: 0.7em;
}

.an-experience h4 {
  margin-bottom: 0.2em;
}

.an-experience h5 {
  margin-bottom: 0.3em;
}

.an-experience p {
  font-size: 1.1em;
}

@media screen and (max-width: 500px) {
  .an-experience {
    width: 100%;
    text-align: center;
  }

  .an-experience img {
    float: initial;
    margin: 0 auto;
  }

  .an-experience .xp-description {
    float: initial;
    margin: 1em auto;
  }

  .an-experience h5 span {
    display: block;
    visibility: hidden;
    height: 0px;
  }
}

/*  CONTACT STYLES  */
#contact img {
  height: 5em;
  width: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.centered {
  width: 60%;
  margin: 5em auto;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #contact .col-md-6 {
    padding-top: 3em;
  }
}

/*  FOOTER */
footer {
  background-color: black;
  color: #ffffff;
  width: 100%;
  min-height: 50px;
  margin-top: -50px;
  position: relative
  clear: both;
}
