.project-stack {
    overflow: hidden;
    margin-bottom: 0px;
    padding-left: 0px;
}

#project-stack-nav {
    z-index: 10;
    width: 100%;

    a {
        position: absolute;
        top: 50%;
    }

    // a:hover .slider {
    //     -webkit-transform: translateY(-50%) translateX(0); 
    //     transform: translateY(-50%) translateX(0);
    // }

    .prev {
        left: 40px;
    }

    // .prev .slider {
    //     padding-left: 100px;
    //     left: 100px;
    //     -webkit-transform: translateY(-50%) translateX(-100%);
    //     transform: translateY(-50%) translateX(-100%);
    // }

    .next {
        right: 40px;
        text-align: right;
    }

    // .next .slider {
    //     padding-right: 100px;
    //     right: 100px;
    //     text-align: right;
    //     -webkit-transform: translateY(-50%) translateX(100%);
    //     transform: translateY(-50%) translateX(100%);
    // }


    .icon-wrap {
        max-width: 84px;
        position: relative;
        display: block;
        padding: 10px;
        background-color: #34495e;

        svg {
            display: block;
        }

    }

    .slider {
        position: absolute;
        top: 0px;
        left: 100px;
        h3 {
            position: relative;
            white-space: nowrap;
            margin: 0px;
            line-height: 100px;
        }
        .crop {
            position: absolute;
            top: 0;
            left: 100px;
            overflow: hidden;
            height: 100px;
            width: 100px;
            img {
                height: 100px;
            }
        }
    }

    // .slider {
    //     position: absolute;
    //     h3 {
    //         white-space: nowrap;
    //     }
    //     .crop {
    //         // position: absolute;
    //         top: 0;
    //         overflow: hidden;
    //         height: 100px;
    //         width: 100px;
    //         img {
    //             height: 100px;
    //         }
    //     }
    // }

    // .prev {
    //     left: -130px;
    // }
    // .next {
        
    // }
}