@font-face {
	font-family: eraser;
	src: url("/fonts/EraserDust.ttf");
}

body {
	background-color: #EFEEF5;
	color: #EEFEEF;
}

.contact-bar {
	width: 78px;
	position: absolute;
	left: 85%;
	top: 30%;
}

img {
	margin: 7px;
	width: 64px;
	height: 64px;
}

.blue-circle-1 {
	background-color: #046380;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 280px;
	height: 280px;
	margin-left: 11%;
	margin-top: 35%;
	position: absolute;
	 -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
}

.red-square-1 {
	background-color: #B33817;
	width: 245px;
	height: 245px;
	position: absolute;
	margin-left: 29%;
	margin-top: 5%;
	z-index: -53;
	 -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
}

.brown-triangle-1 {
	width: 0;
	height: 0;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-bottom: 280px solid #797B80;
	position: absolute;
	z-index: -41;
	margin-left: 47%;
	margin-top: 23%;
	 -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
}

#links {
	background-color: #002F2F;
	width: 300px;
	position: absolute;
	left: 2.5%;
	top: 4%;
	 -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	 -webkit-transform: translate3d(0,0,0);
	filter: url(shadow.svg#drop-shadow);
	font-family: eraser;
}

.construction {
	margin-left: 20px;
}

#consText {
	position: relative;
	top: 350px;
	left: 135px;
	text-align: center;
}