@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #3d3536;
  text-decoration: none;
}

p {
  font-size: 1.4em;
  font-weight: 500;
  /*text-align: center;*/
}

p a:hover {
  color: #3d3536;
  text-decoration: underline;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#about-container {
  max-width: 640px;
}

#project-container {
  margin-top: 20px;
  max-width: 1040px;
}

/* -------------------------------- 

              NAVBAR

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 20px 0px;
  z-index: 2;

  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.cd-header:after {
  content: "";
  display: table;
  clear: both;
}

.cd-header-active {
  padding: 0px;
  background-color: #3d3536;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}

.cd-header #cd-logo img {
  display: none;
}

.cd-main-nav li:hover {
  background-color: rgba(255,255,255,.2);
}

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 60px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: white;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 60px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: 0em 1em;
    border-top: none;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    /*font-size: 14px;*/
    /*font-size: 0.875rem;*/
  }

  .no-touch .cd-main-nav a:hover {
    /*color: #0089FF;*/
    text-decoration: none;
  }
}

/* -------------------------------- 

          MAIN CONTENT

-------------------------------- */

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.cd-fixed-bg h1 {
  position: absolute;
  left: 50%;
  top: 45%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font: Montserrat,"Helvetica Neue", Helvetica;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font: Montserrat,"Helvetica Neue", Helvetica;
  font-size: 25px;
  font-size: 1.875rem;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("imgs/chicago-night.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("imgs/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("imgs/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("imgs/cd-background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1{
    font-size: 48px;
    font-weight: 600;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #235ec8;
  /*color: #3d3536;*/
  color: white;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #C84E41;
  /*color: #3d3536;*/
  color: white;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #235ec8;
  color: #3d3536;
  color: white;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/* -------------------------------- 

          PROJECT STACK

-------------------------------- */


.st-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 1200px;
  -webkit-perspective-origin : 50% 100%;
  -moz-perspective: 1200px;
  -moz-perspective-origin : 50% 100%;
  -o-perspective: 1200px;
  -o-perspective-origin : 50% 100%;
  -ms-perspective: 1200px;
  -ms-perspective-origin : 50% 100%;
  perspective: 1200px;
  perspective-origin : 50% 100%;
}

.st-stack {
  position: absolute;
  height: 10px;
  bottom: 0px;
  background-image: -webkit-linear-gradient(top, #fff 50%, transparent 50%);
  background-image: -moz-linear-gradient(top, #fff 50%, transparent 50%);
  background-image: -o-linear-gradient(top, #fff 50%, transparent 50%);
  background-image: -ms-linear-gradient(top, #fff 50%, transparent 50%);
  background-image: linear-gradient(to bottom, #fff 50%, transparent 50%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
  background-position: bottom center;
}

.st-stack:before {
  content: '';
  position: absolute;
  width: 140%;
  left: -20%;
  bottom: -10px;
  height: 20px;
  z-index: -1;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 60%);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 60%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 60%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 60%);
  background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 60%);
}

.st-stack-left {
  left: 0px;
}

.st-stack-right {
  right: 0px;
}

.st-wrapper .st-title,
.st-wrapper nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.st-wrapper .st-title {
  padding: 0 10% 60px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.st-wrapper .st-title h2 {
  padding: 0 20px;
  font-size: 28px;
  color: #dc4e2a;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Englebert', Arial, sans-serif;
  line-height: 38px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.st-wrapper .st-title h3 {
  font-size: 15px;
  font-weight: 700; 
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.st-wrapper nav span {
  color: transparent;
  /*position: absolute;*/
  width: 40px;
  height: 40px;
  /*left: 50%;*/
  /*bottom: 0;*/
  /*cursor: pointer;*/
}

.st-wrapper nav span:first-child {
  /*margin-left: -45px;*/
}

.st-wrapper nav span:last-child {
  /*margin-left: 5px;*/
}

.st-wrapper nav span:before {
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.st-wrapper nav span:hover:before {
  color: #333;
}

.st-wrapper .st-item {
  position: absolute;
  background-color: white;
  height: 420px;
  width: 700px;
  /*width: 1040px;*/
  -webkit-transform-style : preserve-3d;
  -moz-transform-style : preserve-3d;
  -o-transform-style : preserve-3d;
  -ms-transform-style : preserve-3d;
  transform-style : preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.st-wrapper .st-item.st-center {
  -webkit-transform: rotateZ(0deg) rotateY(0deg);
  -moz-transform: rotateZ(0deg) rotateY(0deg);
  -o-transform: rotateZ(0deg) rotateY(0deg);
  -ms-transform: rotateZ(0deg) rotateY(0deg);
  transform: rotateZ(0deg) rotateY(0deg);
}

.st-wrapper .st-item.st-right,
.st-wrapper .st-item.st-rightflow {
  opacity: 0;
  -webkit-transform: rotateZ(90deg) rotateY(-90deg);
  -moz-transform: rotateZ(90deg) rotateY(-91deg);
  -o-transform: rotateZ(90deg) rotateY(-90deg);
  -ms-transform: rotateZ(90deg) rotateY(-90deg);
  transform: rotateZ(90deg) rotateY(-91deg);
  pointer-events: none;
}

.st-wrapper .st-item.st-left,
.st-wrapper .st-item.st-leftflow {
  opacity: 0;
  -webkit-transform: rotateZ(-90deg) rotateY(90deg);
  -moz-transform: rotateZ(-90deg) rotateY(91deg);
  -o-transform: rotateZ(-90deg) rotateY(90deg);
  -ms-transform: rotateZ(-90deg) rotateY(90deg);
  transform: rotateZ(-90deg) rotateY(91deg);
  pointer-events: none;
}
.st-wrapper .st-item.st-rightflow,
.st-wrapper .st-item.st-leftflow,
.st-wrapper .st-item.st-center {
  opacity: 1;
}

@media screen and (max-width: 1310px){
  .st-wrapper .st-item {
    width: 300px;
  }
  .st-wrapper {
    height: 460px;
  }
}

@media screen and (max-width: 1050px){
  .st-wrapper .st-item {
    width: 260px;
  }
  .st-wrapper {
    height: 380px;
  }
}

@media screen and (max-width: 935px){
  .st-wrapper .st-item {
    width: 240px;
  }
  .st-wrapper {
    height: 380px;
  }
}

@media screen and (max-width: 880px){
  .st-wrapper .st-item {
    width: 220px;
  }
  .st-wrapper .st-title {
    bottom: 280px;
  }
  .st-wrapper {
    height: 420px;
  }
}

@media screen and (max-width: 740px){
  .st-wrapper .st-item {
    width: 200px;
  }
  .st-wrapper .st-title {
    bottom: 240px;
  }
  .st-wrapper {
    height: 370px;
  }
}

@media screen and (max-width: 650px){
  .st-stack {
    display: none;
  }
  .st-wrapper nav {
    bottom: 220px;
  }
}

@media screen and (max-width: 450px){
  .st-wrapper .st-item {
    width: 200px;
  }
  .st-wrapper .st-title {
    bottom: 150px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .st-wrapper .st-title h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .st-wrapper nav {
    bottom: 140px;
  }
  .st-wrapper {
    height: 300px;
  }
}

.st-item img {
  margin-top: 10px;
  margin-left: 10px;
  height: 400px;
  width: 300px;
}

.st-item span {
  line-height: 24px;
  text-align: center;
  color: #3d3536;
  position: relative;
  font-size: 24px;
  left: 2%;
  top: -35%;
}

#st-stack-nav {
  z-index: 1000000;
  width: 100%;
  position: absolute;
  top: 50%;
}

#st-stack-nav .icon-wrap {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  display: block;
  background-color: #34495e;
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s;
}

#st-stack-nav .prev {
  left: -130px;
}

#st-stack-nav .next {
  right: -130px;
}
