<template name="construction">

  <div class="cd-main-content">

    <div class="contact-bar">
        <a href="mailto:kevinchen2016@u.northwestern.edu" target="_blank"><img src="imgs/email2.png" style="margin-bottom: 0px"/></a>
        <a href="https://github.com/aspin" target="_blank"><img src="imgs/github.png" onmouseover="this.src='imgs/github2.png'" onmouseout="this.src='imgs/github.png'" /></a>
        <a href="https://linkedin.com/pub/kevin-chen/62/625/b52/" target="_blank"><img src="imgs/linkedin.png"/></a>
    </div>
    
    <section class="cd-fixed-bg cd-bg-1">
      <h1>Hey. I'm Kevin. </h1>
      <h2>I'm a developer, designer, and social scientist. <br/><br/> I'm still working on building this site!</h2>
    </section> 

  </div>
</template>