<template name="construction">

    <div class="container-fluid" style="font-family: eraser; margin-top: 3.5%">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="blue-circle-1 text-center">
                    <h2 style="margin-top: 23%; font-size: 50px;"> I'm Kevin, and this is my site. </h2>
                </div>
                <div class="red-square-1 text-center">
                    <h1 style="margin-top: 17%; font-size: 135px;"> HI! </h1>
                </div>
                <div class="brown-triangle-1 text-center">
                    <h4 id="consText"> It's still
                    under <br/> construction... </h4>
                </div>
            </div>
        </div>


    </div>

    <div class="contact-bar">
        <a href="mailto:kevinchen2016@u.northwestern.edu" target="_blank"><img src="imgs/email2.png" style="margin-bottom: 0px"/></a>
        <a href="https://github.com/aspin" target="_blank"><img src="imgs/github.png" onmouseover="this.src='imgs/github2.png'" onmouseout="this.src='imgs/github.png'" /></a>
        <a href="https://linkedin.com/pub/kevin-chen/62/625/b52/" target="_blank"><img src="imgs/linkedin.png"/></a>
    </div>

    <div id="links">
        <h2 style="margin-left: 20px"> You may also be interested in: </h2>
        <hr class="line">
        <a href="#"><h3 class="construction"> My Resume </h3></a>
        <hr class="line">
        <a href="#"><h3 class="construction"> More About Me </h3></a>
        <hr class="line">
        <a href="#"><h3 class="construction"> My Projects </h3></a>
        <hr class="line">
        <h3 style="margin-left: 20px; margin-bottom: 20px"> Remote Paper Prototype Testing </h3>
    </div>
</template>