<template name='projectStack'>
  <div id='project-container' class='cd-container'>
    <ul id='st-stack' class='st-stack-raw'>
        <li>
            <div class='st-item'>
                <img src='imgs/rppt.jpg'>
                <div class='overlay'>
                    <h3> Remote Paper Prototype Testing </h3>
                    <p> Approaching low-fidelity prototyping differently </p>
                    <em> Researcher, Delta Lab, 2014-2015 </em>
                    <div class='more'>Details</div>
                </div>
                <div class='details'>
                    All details are here
                </div>
            </div>
        </li>

        <li>
            <div class='st-item'>
                <img src='imgs/breadcrumbs.png'>
                <div class='overlay'>
                    <h3> Breadcrumbs </h3>
                    <p> Automated browsing data categorization  </p>
                    <em> Lead Developer, NUvention, 2015 </em>
                </div>

            </div>
        </li>

        <li>
            <div class='st-item'>
                <img src='imgs/onedayin.png'>
                <div class='overlay'>
                    <h3> One Day In </h3>
                    <p> Simplifying city travel planning  </p>
                    <em> Developer, HackIllinois, 2014 </em>
                </div>

            </div>
        </li>

        <li>
            <div class='st-item'>
                <img src='imgs/speakamos.png'>
                <div class='overlay'>
                    <h3> Speakamos </h3>
                    <p> Convenient language learning  </p>
                    <em> Freelance Developer, Speakamos, 2015 </em>
                </div>

            </div>
        </li>


<!--         <li>
            <div class='st-item'>
                <a href='#'>
                    <img src='imgs/rppt-1.jpg'/>
                </a>
                <span><strong> Facebook Like Predictor </strong></span>

            </div>

-->

    </ul>
    <nav id='st-stack-nav'>
        <span class='icon-wrap prev'>
            <svg width='64' height='64' viewBox='0 0 64 64'>
                <path id='arrow-left-4' d='M15.946 48l0.003-10.33 47.411 0.003v-11.37h-47.414l0.003-10.304-15.309 16z' />
            </svg>
        </span>
        <span class='icon-wrap next'>
            <svg width='64' height='64' viewBox='0 0 64 64'>
                <path id='arrow-right-4' d='M48.058 48l-0.003-10.33-47.414 0.003v-11.37h47.418l-0.003-10.304 15.306 16z' />
            </svg>
        </span>
    </nav>
  </div>
</template>