<template name="eecs111Syllabus">
  <div class="scroll">
    <div class="col-md-offset-2 col-md-8 paragraph-text">
      <h2>Syllabus</h2>
      <h3>Overview</h3>
      <p>
        This is the first course in the CS core series. The sequence will teach you three languages: Racket, C++, and either Java or C#. This course uses Racket and introduces you to the fundamental concepts of computer science. It is appropriate for students of all backgrounds, and is the most popular of our programming courses, even with non-majors. (If you're looking to learn a specific programming language and only want to take one class, take a look at EECS-110C, 110P or 230 instead)
      </p>

      <p>
        This course involves several interlocking themes:
      </p>

      <ul>
        <li>Programming as a <strong>psychological</strong> discipline. Programming is more about the limits of human intelligence than about memorizing bits of code.</li>
        <li>Programming as an <strong>aesthetic</strong> discipline.  Code can be beautiful; it can also be ugly.  Those distinctions have real consequences in the world.</li>
        <li><strong>Com/position</strong> (literally "placing together"): algorithms and data are built up by joining simple components into more complex ones.</li>
        <li><strong>Abstraction</strong>: complex arrangements can be reproduced and used as if they were simple components.</li>
        <li><strong>Metaprogramming</strong>.  Programs can be used to aid the process of programming itself.</li>
        <li><strong>Programmability and universality</strong>.  Computers are unique artifacts in that a single device can perform an infinite set of possible functions, including emulating other computers.</li>
      </ul>

      <p>
        Concretely, your goal in this course is to learn to design and reason about programs.
      </p>

      <p>
        The <strong>reasoning</strong> part matters because programs don't usually work the first time.  So you need to be able to figure what it's really doing and why, then change it to do what you want.  Programmers are first and foremost detectives and diagnosticians.  We're doctors trying to understand why our patients keep dying.
      </p>

      <p>
        The <strong>design</strong> part matters because the only way you'll be able to reason about it is if you design it in a way that makes it easy for humans to understand, whether said human is your future self trying to add a new feature, or someone else who's taken over the project and is now cursing your existence.
      </p>

      <h3>Which section should I take?</h3>
      <p>The course is available in two versions:</p>

      <ul>
        <li>
          <strong>EECS-111</strong>
          <p>This is the normal version appropriate for any student.  No programming experience is assumed.</p>
        </li>
        <li>
          <strong>EECS-395section 45</strong>
          <p>This is for students with prior programming experience.  If you already feel comfortable programming in a language like C++, Python, or Java, take this section and we'll try to keep you entertained while the rest of the class catches up to you.  This section will have an additional lecture (Fridays at 4pm) where we will cover more advanced topics that we hope you'll find interesting, such as graphics, AI, game design, programming languages, and metaprogramming.</p>
        </li>
      </ul>

      <h3>Tutorial sessions</h3>
      <p>
        This course involves weekly small-group tutorial sessions where you will work with a member of the teaching staff.  For logistical reasons, we couldn't allow people to sign up for them as a normal part of the CAESAR registration process, so signup will most likely occur at the end of the first week or the beginning of the second.  We will keep you posted.
      </p>
      <p>
        Please note that these sessions are mandatory.  They are where a lot of the actual learning will happen.  So while you may miss one without it affecting your grade, but subsequent absences will affect your grade.  Attending and working in the tutorials is worth 15% of your grade.  But you have to actually work; if you let your teammates do all the work while you read Facebook, we will not give you credit.
      </p>

      <h3>Programming language and tools</h3>
      <p>
        We will use the Racket programming language.  The IDE (integrated development environment) for racket, DrRacket, is free and runs on all major desktop/laptop operating systems.  You can download it here:
      </p>

      <p><a href="http://racket-lang.org/download/">http://racket-lang.org/download/</a></p>

      <p>
        You can install either the 32 bit or 64 bit version of the system; it won't matter for this course.
      </p>

      <h3>Using the labs</h3>
      <p>If your computer is down, you may also use DrRacket in the EECS labs:</p>

      <ul>
        <li>The Wilkinson Computing Lab (Tech M338)</li>
        <li>The "T-lab" (Tech F252, near the bridge between Tech and Ford)</li>
      </ul>

      <p>
        Within one week of the start of classes, your Wildcard should be granted access to these labs.  You will also be sent login credentials (i.e. user name and password) for these machines by the end of the first week of classes (your don't use your netid password for these machines).  If you need to use the labs and haven't received login information, please send email to <a href="mailto:root@eecs.northwestern.edu">root@eecs.northwestern.edu</a> saying that you're in this class and need access login credentials for the lab.
      </p>

      <h3>Grading</h3>
      <p>
        Please note that class attendance is mandatory.  We will not take attendance for the lectures, but we will be annoyed if you skip class and then try to get monopolize office hours.  As mentioned above, we will take attendance for the tutorials, and we will expect your to work.
      </p>

      <ul>
        <li>50% tests (3 quizzes, in class plus 1 one-hour final)</li>
        <li>35% assignments</li>
        <li>15% tutorial session participation</li>
      </ul>

      <h3>Textbook</h3>
      <p>
        We won't be following a textbook in the class; we'll be following my lecture slides and readings, all of which will be posted on canvas.  For those of you who'd like a textbook as an adjunct, we'll be posting readings from Abelson and Sussman's Structure and Interpretation of Computer Programs, which is a classic text and available for free on the net.  SICP is especially recommended for advanced students.  Another great textbook is Felleisen et al.'s How to Design Programs, which is also free in the link to the left.
      </p>

      <h3>Other resources</h3>

      <ul>
        <li>Piazza board for the class</li>
        <li>Racket: the software used in class</li>
      </ul>

      <h3>Teaching staff</h3>

      <ul>
        <li>Instructor: Ian Horswill</li>
        <li>Grad TA: Spencer Florence</li>
        <li>Undergrad mentors</li>
        <li>Fill in everybody's email and office hours here</li>
      </ul>


      <h3>Provisional list of lecture topics</h3>

      <ul>
        <li>What is computation?</li>
        <li>Composing functions: dataflow diagrams</li>
        <li>Textual programming languages</li>
        <li>Vector graphics</li>
        <li>Abstracting compositions: compound procedures</li>
        <li>Repeated composition: iterators and iteration</li>
        <li>Lambda abstraction</li>
        <li>Conditional expressions</li>
        <li>Composing data objects: record structures</li>
        <li>Composing data objects: sequences</li>
        <li>Recursion</li>
        <li>List recursion</li>
        <li>Recursion and universality</li>
        <li>Composing changes in time: imperative programming</li>
        <li>Other kinds of imperatives</li>
        <li>Composing code with data: encapsulation</li>
        <li>Inheritance</li>
        <li>Polymorphism</li>
      </ul>
    </div>
  </div>
</template>
