@import 'animations';
@import 'colors';

.headline {
  line-height: 4.0em;
  width: 50%;

  .block {
    display: table;
    height: 200px;

    &.left {
      float: left;
      width: 65%;
    }

    &.right {
      float: right;
      width: 34%;
    }

    h1 {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.rotating-header {
  white-space: nowrap;
  text-align: left;
  margin-left: 0.5em;
}

.rotating-words {
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    opacity: 0;
    left: 0.2em;

    &.visible {
      @include animation(slide-in 0.6s);
      opacity: 1;
    }

    &.hiding {
      @include animation(slide-out 0.6s);
    }
  }
}

$rotating-nav-height: 80px;
$rotating-nav-desktop-height: 150px;

.rotating-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  height: $rotating-nav-height;
  background-color: $black;
  @include perspective(1000px);
  @include transform(translateY(-100%));
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;

  a:hover {
    color: $faded-white;
    text-decoration: none;
  }

  a:focus {
    color: $faded-white;
    text-decoration: none;
  }

  ul {
    position: relative;
    height: 100%;
    background-color: $matte-black;
    @include transform(translateZ(0));
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;

    li {
      position: relative;
      float: left;
      height: 100%;
      width: calc(100%  /3);
      text-align: center;
      a {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        z-index: 2;
      }
      &.selector {
        top: 0;
        left: 0;
        position: absolute;
        background-color: $midnight-black;
        transition: left 0.3s;
      }
      &.selector:hover {
        background-color: $midnight-black;
      }
    }


    li:hover {
      background-color: $evening-black;
    }
  }

  &.visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s;

    ul {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
}

main .rotating-nav, main {
  transition: transform 0.4s;
}

main.nav-is-visible {
  -webkit-transform: translateY($rotating-nav-height);
  -moz-transform: translateY($rotating-nav-height);
  -ms-transform: translateY($rotating-nav-height);
  -o-transform: translateY($rotating-nav-height);
  transform: translateY($rotating-nav-height);
  transition: transform 0.8s;
}

.rotating-nav-toggle {
  position: absolute;
  color: $white;
  font-size: 2em;
  top: 1em;
  right: 1em;
}

@media only screen and (min-width: 768px) {
  .rotating-nav {
    height: $rotating-nav-desktop-height;
    font-size: 1.4em;
  }

  main.nav-is-visible {
    -webkit-transform: translateY($rotating-nav-desktop-height);
    -moz-transform: translateY($rotating-nav-desktop-height);
    -ms-transform: translateY($rotating-nav-desktop-height);
    -o-transform: translateY($rotating-nav-desktop-height);
    transform: translateY($rotating-nav-desktop-height);
  }

  .rotating-nav-toggle {
    right: 3em;
  }
}
