body {
  color: #ffffff;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

h1 {
  font-size: 4.0em;
}

h2 {
  font-size: 3.2em;
}

h3 {
  font-size: 2.3em;
}

a {
  color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #220142;
}

section {
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  text-align: left;
  font-size: 1.2em;
}

.screen-fill {
  height: 100vh;
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
